# Transformer

In [1]:
import numpy as np
import pandas as pd

<hr>

### E. Binarizer

- Merubah data menjadi data biner (value 0 atau 1) aka boolean dengan menggunakan threshold tertentu. Misal diambil threshold = 20, maka data dengan value <= 20 akan berubah jadi 0 & data value > 20 akan menjadi 1.

In [2]:
df = pd.DataFrame({
    'TB': [1.72, 1.81, 1.93, 1.67, 1.85, 1.66, 1.59, 1.76, 1.88, 1.78],
    'BB': [76, 65, 87, 55, 60, 78, 98, 77, 74, 64]
})
df.head(2)

     TB  BB
0  1.72  76
1  1.81  65

<hr>

### E1. Manual Calculation

Set threshold TB = 1.80 & threshold BB = 80

In [5]:
df['bTB'] = df['TB'].apply(lambda x: 0 if x <= 1.8 else 1)
df['bBB'] = df['BB'].apply(lambda x: 0 if x <= 80 else 1)
df

     TB  BB  bTB  bBB
0  1.72  76    0    0
1  1.81  65    1    0
2  1.93  87    1    1
3  1.67  55    0    0
4  1.85  60    1    0
5  1.66  78    0    0
6  1.59  98    0    1
7  1.76  77    0    0
8  1.88  74    1    0
9  1.78  64    0    0

<hr>

### E2. Sklearn ```Binarizer```

Set threshold TB = 1.80 & threshold BB = 80

In [8]:
from sklearn.preprocessing import Binarizer

In [12]:
transformer = Binarizer(threshold=1.8)
transformer.fit(df[['TB']])
df['bTB2'] = transformer.transform(df[['TB']]).astype('int32')

In [13]:
transformer = Binarizer(threshold=80)
transformer.fit(df[['BB']])
df['bBB2'] = transformer.transform(df[['BB']])
df

     TB  BB  bTB  bBB  bTB2  bBB2
0  1.72  76    0    0     0     0
1  1.81  65    1    0     1     0
2  1.93  87    1    1     1     1
3  1.67  55    0    0     0     0
4  1.85  60    1    0     1     0
5  1.66  78    0    0     0     0
6  1.59  98    0    1     0     1
7  1.76  77    0    0     0     0
8  1.88  74    1    0     1     0
9  1.78  64    0    0     0     0